<div class="row">
  <div class="col-md-4 pull-right file-name-cnt">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" ng-model="name" ng-change="filterChange()" placeholder="File name" aria-describedby="file-name">
      <span class="input-group-addon" id="file-name">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
      </span>
    </div>
  </div>

  <div class="col-md-1 pull-right">
    <div class="input-group-sm">
      <input type="text" class="form-control" ng-model="params.count" ng-change="paramsChange()" placeholder="Count" /> <!-- type="number" -->
    </div>
  </div>

  <div class="col-md-2 pull-right">
    <div class="input-group-sm">
      <select class="form-control" ng-model="params.unit" ng-change="paramsChange()">
        <option value="hour">Hours</option>
        <option value="day">Days</option>
        <option value="week">Weeks</option>
        <option value="month">Months</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="chart-cnt">
    <div id="chart"></div>
    <div class="clr"></div>
  </div>
</div>